.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.backdrop2 {
    z-index: 30;

}

.modal-content {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    background-color: white;
    z-index:30 !important;
    animation: slide-down 400ms ease-out forwards;
    padding-bottom: 1rem
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}