$top-margin: 0.3rem;
$bottom-margin: 0.3rem;

.text-input {
  margin-top: $top-margin;
  margin-bottom: $bottom-margin;
}

.submit-button {
  margin-top: $top-margin;
}

.label {
  font-weight: 600;
  padding-left: 0;
  font-size: large;
}

.error-message {
  color: rgb(189, 9, 9);
}

.form-container {
  margin-top: 0.8rem;
}
